# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [2]:
number = 6

print (number)

number = 5

print (number)

6
5

##### Assinging float

In [3]:
number_float = 2.3
print (number_float)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [5]:
num1= 2
num2 = 5.4

result = num1 + num2
print (result)

result += 2
print(result)

7.4
9.4

##### Subtraction

In [7]:
result_diff = num2-num1
print (result_diff)

result_diff -= 1
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [10]:
result_mul = num1*num2
print (result_mul)

result_mul *= 2
print (result_mul)

10.8
21.6

##### Division

In [12]:
result_div = num2/num1
print (result_div)

result_div /= 2
print (result_div)

2.7
1.35

##### Floor Division

In [13]:
result_floor = num2//num1
print (result_floor)

2.0

##### Modulo

In [16]:
result_mod = num1 % num2
print (result_mod)

2.0

##### Exponential

In [17]:
square = 5 ** 2
print (square)

25

### String Input-Output

##### String Assignment

In [18]:
name = "Mihir"
print (name)

Mihir

print ("This is my first name:" , name)
print (name, end="Chikani")

In [19]:
print ("This is my first name: " , name)
print (name, end=" Chiknai")

This is my first name:  Mihir
MihirChiknai

##### String Concatenation

In [23]:
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print (full_name)

John Smith

##### Type Conversion

In [31]:
number = "32"

change_type = int(number)

change_type + 5

37

##### input()

In [34]:
# this is a single comment

age = input ("What is your age: ")

# this is another comment

value_of_age = int(age) + 2
print (value_of_age)

What is your age: 29
31

##### format()

In [1]:
# ask user for age

age = input ("What is your age: ")

# print out a formatted string with their age

result_string = "You are {} and you are getting old!".format(age)

# print('You are {} years old, and I am {} years old'.format(age, 34))

print(result_string)

What is your age: 29
You are 29 and you are getting old!

##### Old Way (python 2)

In [ ]:
# using the % sign to format strings in python 2
# %d = digit, %s = string, %i = int

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [3]:
color = input ("What is the color of your car: ")
year = input ("What is the year of your car: ")
make = input ("What is the make of your car: ")
model = input ("What is the model of your car: ")

car_result = "You have {} car that is from {}, {} made the car and the model is {}" .format(color, year, make, model)

print (car_result)

What is the color of your car: black
What is the year of your car: 2017
What is the make of your car: toyota
What is the model of your car: siena
You have black car that is from 2017, toyota made the car and the model is siena

### If Statements

In [11]:
num_1 = 5
num_2 = 10

if num_1 == num_2:
    print("equal Values")
    
else:
    print("Not Equal")
    
    
if num_2 > num_1:
    print("This value is greater")

Not Equal
This value is greater

##### 'is' keyword

In [14]:
# use is when checking for same object, not same value

num_3 = None

if num_3 is None:
    print ("This has no value")

This has no value

##### 'in' keyword

In [17]:
# check if char in name

char_name = "Max Payne"

if "M" in char_name:
    print("The charactor who lost everything")

The charactor who lost everything

##### 'not in' keyword'

In [19]:
number = "34"

if "a" not in number:
    print ("A is not here")

A is not here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [24]:
check_leter = input("Please enter a word: ")

if "p" in check_leter:
    print ("P is in the entered word")
    
else:
    print ("P is not in the entered word")

Please enter a word: p
P is in the entered word

## Using 'and'/'or' with If Statements

In [27]:
# when using 'and' keyword, checks to see if true and true

num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

if num_11 == num_12 and num_13 == num_14:
    print("True and true")



# when using 'or' keyword, checks to see if one side is true


if num_11 > num_12 or num_11 == num_12:
    print("False and true")
    

if num_11 == num_14 and num_12 == num_13 or num_13 > num_14:
    print("False/True")

False and true
False/True

### Elif Statements

In [28]:
first_name = "Max"

if first_name == "Smith":
    print ("The nane is Smith")
    
elif first_name != "Max":
    print ("The name is NOT Max")

else:
    print ("The name Is Max")

The name Is Max

### Else Statements

In [ ]:
# see above

# In-Class Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [38]:
age_old = int(input("Please enter your age: "))


if age_old < 18:
    print ("Kids")
elif age_old > 17 and age_old < 65:
    print ("Adults")    
else:
    print("Seniors")

Please enter your age: 5
Kids

### For Loops

In [42]:
# for keyword, counter, in keyword, condition

# for i in range(10):
#     print(i)

name = "Mihir Chikani"

for letter in name:
    print(letter)

M
i
h
i
r

C
h
i
k
a
n
i

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [43]:
for i in range(20):
    if i==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [44]:
for i in range (20):
    if i==5:
        break
    print (i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass  # TODO: come back and finish later

##### Double For Loops

In [51]:
for i in range(5):
    for j in range(5):
        print("i= {}, j={}".format(i,j))

i= 0, j=0
i= 0, j=1
i= 0, j=2
i= 0, j=3
i= 0, j=4
i= 1, j=0
i= 1, j=1
i= 1, j=2
i= 1, j=3
i= 1, j=4
i= 2, j=0
i= 2, j=1
i= 2, j=2
i= 2, j=3
i= 2, j=4
i= 3, j=0
i= 3, j=1
i= 3, j=2
i= 3, j=3
i= 3, j=4
i= 4, j=0
i= 4, j=1
i= 4, j=2
i= 4, j=3
i= 4, j=4

### While Loops

In [52]:
# based on a conditional statement
num = 0

while num < 10:
    print (num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [53]:
game_over = False 

while True:
    print ("Infinite Loop")
    
    if game_over == False:
        break

Infinite Loop

##### While & For Loops Used Together

In [58]:
num = 0
while num <5:
    print ("While loop interation " + str(num))
    
    for i in range (2):
        print ("For loop interation " + str(i))
        
    num +=1

While loop interation 0
For loop interation 0
For loop interation 1
While loop interation 1
For loop interation 0
For loop interation 1
While loop interation 2
For loop interation 0
For loop interation 1
While loop interation 3
For loop interation 0
For loop interation 1
While loop interation 4
For loop interation 0
For loop interation 1

### Built-In Functions

##### range()

In [59]:
# start, stop, step

for i in range (0, 20, 2):
    print (i)

0
2
4
6
8
10
12
14
16
18

##### len()

In [64]:
# check length of variable

name = "Max"
print(len(name))

for i in range (len(name)):
    print(name[i])

3
M
a
x

##### help()

In [ ]:
# to view more information on a python function

help()

Welcome to Python 3.7's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.7/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

##### isinstance()

In [70]:
# isinstance(var, type)

if isinstance (4.5, float):
    print ("This is a float")
    
    
if isinstance(name, str):
    print("Hi, my name is ", name )

This is a float
Hi, my name is  Max

##### abs()

In [71]:
# / 5 /

abs(-5)

5

### Try and Except

In [ ]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop

try:
    number_test=0
    input_num = input("Guess a number: ")
    
    if input_num != numnber_test:
        input_num = input_num + number_test
        print ("Your number is "+str(number_test))
    
except:
    print("That did not work --- ERROR: Change to number")

### Lists

##### Declaring Lists

In [1]:
l_1 = [] # Craete an empty list
names = ["Max", "Cindy", "Bob", "Kathy"]
print(names)

['Max', 'Cindy', 'Bob', 'Kathy']

##### Indexing a List

In [13]:
# [-1], [start: stop: step]
l_1 = [] # Craete an empty list
names = ["Max", "Cindy", "Kathy", "Bob"]
print(names[0])


print(names[1:]) # starts at 1 goes to end

print(names[:2]) # starts at beginning prints index 0 and 1

print(names[1::2]) # starts at index 1 goes up by 2 each iteration (basically prints out all odd indexes)

print(names[::-1]) # reverse printed order

Max
['Cindy', 'Kathy', 'Bob']
['Max', 'Cindy']
['Cindy', 'Bob']
['Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [14]:
names.append("Mihir")
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Mihir']

##### .insert()

In [15]:
# list.insert(index, value)

names.insert(0, "Jimmy")
print(names)

['Jimmy', 'Max', 'Cindy', 'Kathy', 'Bob', 'Mihir']

##### .pop()

In [16]:
# default last, param = index
# pop returns the element that was removed in case you want to assign it into a variable
result=names.pop()
print(result)

Mihir

##### .remove()

In [17]:
# value to be removed, not index

names.remove("Jimmy")
print(names)

['Max', 'Cindy', 'Kathy', 'Bob']

##### del()

In [18]:
# index to be removed, not value
# be careful with del, can cause indexing errors
del(names[0])    
print(names)

['Cindy', 'Kathy', 'Bob']

##### Concatenating Two Lists

In [20]:
# will append two lists together, not add up elements in each list

l_1=[3,4,5]
l_2=[0,1,2]

large_list = l_1+l_2
print(large_list)

[3, 4, 5, 0, 1, 2]

##### Lists Within Lists

In [25]:
# lists are able to hold any type of elements, including lists themselves
# they can also go as deep as you want, having many lists inside of each other

names = ["Max", "Sam", "Josh", ["Sally", "Sue", "Tameka"]]
print(names)
print(names[3][0])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
x

##### Looping Through Lists

In [33]:
# two ways to loop through a list, one is by index, the other is using the 'in' keyword

first_names = ["Jim", "Sally", "Fred", "Lucas"]
for i in range(len(first_names)):
    print(first_names[i])

#Loop with a for Loop

last_name = "Chikani"

for char in last_name:
    print (char)

# loop based on index

Jim
Sally
Fred
Lucas
C
h
i
k
a
n
i

## Exercise #1 <br>
<p>Build a pyramid of x's with 5 rows...</p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; x <br>
&nbsp;&nbsp;&nbsp;&nbsp; x x <br>
&nbsp;&nbsp;&nbsp; x x x <br>
&nbsp;&nbsp; x x x x <br>
&nbsp; x x x x x

## Exercise #2 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

In [10]:
i = 0
sum = 0
a = 0
while sum <= 1000:
    a = i**3
    sum = int(sum + a)
    print("Numner is {} and the running cube total is {}".format(i, a))
    i +=1
    if sum > 1000:
        break
    
        
# Another code to solve the problem
# cubes = []
# count = 0
# for num in range (1000):
#   count = num ** 3
#        if count > 1000:
#               break
#        else:
#               print(num)

Numner is 0 and the running cube total is 0
Numner is 1 and the running cube total is 1
Numner is 2 and the running cube total is 8
Numner is 3 and the running cube total is 27
Numner is 4 and the running cube total is 64
Numner is 5 and the running cube total is 125
Numner is 6 and the running cube total is 216
Numner is 7 and the running cube total is 343
Numner is 8 and the running cube total is 512

## Exercise #3 <br>
<p>Get first 100 Prime Numbers</p>

In [6]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
          
prime_number = []
while len(prime_number)<101:
    
    for i in range (2,1000):
        for j in range (2,i):
            if i % j == 0:
                break
        else:
            prime_number.append(i)
    print(prime_number)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

## Exercise #4 <br>
<p>Make an addition calculator that takes in two inputs from the user and performs addition on those two numbers...<br>Then check to make sure that both numbers are instances of int or float<br><i>Hint: Use int() and float() to convert string inputs to numbers</i></p>

In [11]:
value_1 = input("Please eneter a number: ")
value_2 = input("Please eneter second number: ")

try:
    
    total_value = int(value_1) + int(value_2)
    print (total_value)

except:
    print ("Please provide a whole nuber without a decimal")

Please eneter a number: 9
Please eneter second number: 78
87

## Exercise #5 <br>
<p><b>Extra Credit</b><br>Do the same as exercise 4, except ask the user what they would like to do (add, subtract, multiply, or divide) then perform that operation...</p>

In [13]:
value_1 = input("Please eneter a number: ")
value_2 = input("Please eneter second number: ")
answer = input("Would you like to: Substract/Multiply/Add/Devide?")

try:
    value_1 = float(value_1)
    value_2 = float(value_2)
    
    # If value_1 == 10.0 then .is_integer() would treat that as a Whole Number
    # Otehrwise .is_integer() will treat anything. .1 amd above as a floating point number
    
    if value_1.is_integer():
        value_1 = int(value_1)
    if value_2.is_integer():
        value_2 = int(value_1)    
    
    if answer.lower() == "add":
        result = value_1 + value_2
        print (result)
        
    elif answer.lower() == "substract":
        result = value_1 - value_2
        print (result)
        
    elif answer.lower() == "multiply":
        result = value_1 * value_2
        print (result)
        
    elif answer.lower() == "devide":
        result = value_1 / value_2
        print (result)
        
except:
    print("Please provide with real number")

Please eneter a number: p
Please eneter second number: h
Would you like to: Substract/Multiply/Add/Devide?9
Please provide with real number